*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    background-color: rgb(111, 111, 253);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 420px;
    height: 400px;
    margin: 40px;
    background-color: white;
    border: 5px solid #fff;
    border-radius: 12px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    display: flex;
    margin: 10px;
}
.input-group {
    margin: 10px;
}
.input-group h4 {
    margin: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
.input-group input {
    width: 380px;
    height: 40px;
    padding: 20px;
    border: 1px solid #dddbdb;
    border-radius: 12px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn button {
    width: 120px;
    height: 40px;
    margin: 20px;
    color: white;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: rgb(110, 110, 235);
}